.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.centrallize {
  text-align: center;
  align-items: center;
}

.RHS {
  text-align: end;
}

.smallLogo {
  opacity: 10%;
}

#examples h1 {
  font-weight: bolder;
  font-size: 2em;
}

#exampleGrid p {
  text-align: center;
  padding-left: 20%;
  padding-top: 10%;
  font-size: 1em;
}

@media (max-width: 800px) {
  #exampleGrid p {
    text-align: center;
    padding: 0;
    font-size: 1em;
  }
}

#exampleGrid {
  padding-left: 10%;
  padding-right: 10%;
}

#contactsPage {
  max-height: 800px;
}

#contactForm {
  padding: 10% 20% 10% 20%;
}

#kindly {
  text-align: center;
  font-size: 2em;
}

#contactDetailsMap {
  padding: 10% 5% 10% 5%;
}

.middle {
  padding: 20% 5% 10% 5%;
  text-align: center;
}

#footerBot {
  position: static;
  bottom: 0;
}

#aboutUs p {
  padding: 20% auto 10% auto;
  text-align: center;
  font-size: 1em;
}

div.title-area {
  width: auto;
  height: auto;
  font-size: 1em;
}

@media (max-width: 992px) {
  .section-header .content h1 {
    font-size: 2em;
    letter-spacing: 0.07em;
  }
}

#contactForm {
  max-width: 100%;
  max-height: 100%;
  font-size: 1em;
}

/* [THUMBNAILS] */
#gallery {
  max-width: 1200px;
  margin: 0 auto;
}
#gallery img {
  box-sizing: border-box;
  width: 25%;
  max-height: 150px;
  padding: 5px;
  /* fill, contain, cover, scale-down : use whichever you like */
  object-fit: cover;
}

/* [RESPONSIVE - MOBILE FRIENDLY] */
@media screen and (max-width: 850px) {
  #gallery img {
    width: 33%;
  }
}
@media screen and (max-width: 640px) {
  #gallery img {
    width: 50%;
  }
}
